---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">

  <div class="col-md-8">

   
    <div class="card mb-3">
      <div class="card-body">
        <h2 class="card-title h5">Description</h2>
        <p class="card-text">This portal has been developed by the library faculty and staff at the University of Idaho. It hosts digital content curated to be of interest and use to K-12 educators in the state of Idaho.</p>
        <p class="card-text">The  portal contains NUMBER of inquiry kits: <a href="{{ '/environmental.html' | relative_url }}" >Environmental History</a>,  <a href="{{ '/bigburn.html' | relative_url }}" >the Big Burn</a>, etc. which link to curated primary sources from digital collections.</p>
        <p class="card-text mb-4"><a class="btn btn-{{ include.btn-color | default: 'primary' }}" href="{{ '/about.html' | relative_url }}" >Learn More &raquo;</a></p>

        {% include index/carousel.html title="Sample Items" %}
      
      </div>
    
  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>